<!DOCTYPE html>
<html lang="en" style="padding: 0; margin: 0; box-sizing: border-box">
<head style="padding: 0; margin: 0; box-sizing: border-box">
    <meta
            charset="UTF-8"
            style="padding: 0; margin: 0; box-sizing: border-box"
    />
    <meta
            http-equiv="X-UA-Compatible"
            content="IE-edge"
            style="padding: 0; margin: 0; box-sizing: border-box"
    />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            style="padding: 0; margin: 0; box-sizing: border-box"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet" />
    <title style="padding: 0; margin: 0; box-sizing: border-box">
        {{ title }}
    </title>
</head>

<body style="padding: 0; margin: 0; box-sizing: border-box">
<div
        class="main-content-letter"
        style="
        padding: 0;
        margin: auto;
        box-sizing: border-box;
        max-width: 550px;
        padding-right: 59px;
        padding-left: 59px;
        background-color: #373737;
        color: #ffffff;
        background-size: 590px;
        border-radius: 8px;
        text-align: center;
      "
>
    <div style="padding-top: 30px; margin: 0 auto;">
        <a href="http://apexflora.com.ua/" target="_blank">
            <img src="logo.png" alt="Apex Flora"/>
        </a>
    </div>
    <div
            class="title-letter"
            style="
          padding: 0;
          margin: auto;
          box-sizing: border-box;
          padding-top: 55px;
          font-family: 'Nunito Sans', sans-serif;
          line-height: 48px;
          font-weight: 700;
          font-size: 36px;
          color: #ffffff;
        "
    >
        {{ body_title }}
    </div>
    <div
            class="text-letter"
            style="
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          margin-top: 48px;
          font-family: 'Nunito Sans', sans-serif;
          color: #ffffff;
        "
    >
        {{ body_text }}
        <br style="padding: 0; margin: 0; box-sizing: border-box"/>
        <br style="padding: 0; margin: 0; box-sizing: border-box"/>
    </div>
    <div>
        <a href="{{ invite_url }}" style="
                      display: inline-block;
                      padding: 10px 30px;
                      background-color: #0E0E66;
                      color: #ffffff;
                      text-decoration: none;
                      font-family: 'Nunito Sans', sans-serif;
                      font-weight: 700;
                      border-radius: 8px;
                ">{{ button_title }}</a>
    </div>
    <div
            class="email-footer"
            style="
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          margin-top: 32px;
          font-family: 'Nunito Sans', sans-serif;
          padding-bottom: 40px;
          color: #ffffff;
        "
    >
        Yours,
        <br style="padding: 0; margin: 0; box-sizing: border-box" />
        <strong style="padding: 0; margin: 0; box-sizing: border-box"
        ><a
                style="text-decoration: none; color: #ffffff"
                href="http://apexflora.com.ua/"
                target="_blank"
        >
            Apex Flora
        </a></strong
        >
    </div>
</div>
</body>
</html>
