<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="google-signin-client_id" content="586948538433-m3kq8a79oogn5dbksh08dfth5s1462ej.apps.googleusercontent.com">
  <title>Google Sign-In</title>
</head>
<body>
  <script src="https://accounts.google.com/gsi/client" async></script>
  <script>
    function decodeJwtResponse(token) {
      const payload = token.split('.')[1];
      const decodedPayload = JSON.parse(atob(payload));
      return decodedPayload;
    }

    function handleCredentialResponse(response) {
      console.log("Credential Token: " + response.credential);
      const responsePayload = decodeJwtResponse(response.credential);
      console.log("ID: " + responsePayload.sub);
      console.log('Full Name: ' + responsePayload.name);
      console.log('Email: ' + responsePayload.email);
    }

    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "586948538433-m3kq8a79oogn5dbksh08dfth5s1462ej.apps.googleusercontent.com",
        callback: handleCredentialResponse,
        auto_select: false,
        cancel_on_tap_outside: false
      });
      google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "medium" }
      );
      google.accounts.id.prompt();
    }
  </script>
  <div id="buttonDiv"></div>
</body>
</html>
