<!DOCTYPE html>
{% load static %}
<html lang="en" style="padding: 0; margin: 0; box-sizing: border-box">
    <head style="padding: 0; margin: 0; box-sizing: border-box">
        <meta
            charset="UTF-8"
            style="padding: 0; margin: 0; box-sizing: border-box" />
        <meta
            http-equiv="X-UA-Compatible"
            content="IE-edge"
            style="padding: 0; margin: 0; box-sizing: border-box" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            style="padding: 0; margin: 0; box-sizing: border-box" />
            <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
            style="padding: 0; margin: 0; box-sizing: border-box" />
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link
                href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
                rel="stylesheet" />
        <title style="padding: 0; margin: 0; box-sizing: border-box">
            {{ title }}
        </title>
    </head>

    <body style="padding: 0; margin: 0; box-sizing: border-box">
        <div
            class="main-content-letter"
            style="
                padding: 0;
                margin: auto;
                box-sizing: border-box;
                max-width: 600px;
                padding: 30px;
                background-color: #ebe3dd;
                background-size: 590px;
                border-radius: 8px;
                text-align: center;
            ">
            <div style="margin: 0 auto;">
                <a href="https://amster.org.ua/" target="_blank">
                <img src="cid:{{ file_name }}" alt="Apex Flora" />
                </a>
            </div>
            <div
                style="
                    background-color: #0e0e66;
                    border-radius: 30px;
                    padding: 30px;
                    margin-top: 20px;
                ">
                <div
                    class="title-letter"
                    style="
                        padding: 0;
                        margin: 0 auto;
                        box-sizing: border-box;
                        padding-top: 30px;
                        font-family: 'Nunito Sans', sans-serif;
                        font-weight: 600;
                        font-size: 20px;
                        color: #ebe3dd;
                        max-width: 240px;
                    ">
                    Вітаємо,
                    <br>
                    {{ user_name }}!
                </div>
                <div
                    class="text-letter"
                    style="
                        margin: 0 auto;
                        box-sizing: border-box;
                        margin-top: 20px;
                        font-size: 18px;
                        background-color: #ebe3dd;
                        width: 440px;
                        padding: 22px;
                        font-family: 'Nunito Sans', sans-serif;
                        color: #0e0e66;
                        border-radius: 28px;
                    ">
                    <p style="margin: 0 auto">
                        Ви успішно зареєструвалися у веб-шопі Amster Flora. Ваш
                        профіль буде активований після перевірки заявки, нашим
                        менеджером.
                    </p>
                </div>

                <img style="margin-top: 40px"
                     width="58"
                     height="62"
                     src="cid:icon.png" alt="Apex Flora"
                />

                <div
                    class="email-footer"
                    style="
                        padding: 0;
                        margin: 0;
                        box-sizing: border-box;
                        margin-top: 24px;
                        font-size: 20px;
                        font-weight: 500;
                        font-family: 'Nunito Sans', sans-serif;
                        color: #ebe3dd;
                    ">
                    З повагою, компанія Amster Flora
                    <br style="padding: 0; margin: 0; box-sizing: border-box" />
                    <strong
                        style="
                            padding: 0;
                            margin: 0;
                            box-sizing: border-box;
                            font-size: 16px;
                        "
                        ><a
                            style="
                                font-weight: 400;
                                color: #ebe3dd;
                                display: inline-block;
                                margin-top: 4px;
                            "
                            href="https://apexflora.com.ua/"
                            target="_blank">
                            amster.org.ua
                        </a></strong
                    >
                </div>
            </div>
        </div>
    </body>
</html>

